html
{
    font-family: sans-serif;
}

main
{
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.extra-margins
{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
}

.fa
{
    display: inline-block;
    margin-right: 5px;
}

.show
{
    display: block;
}

.hide
{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;
}

.h1,
h1
{
    font-size: 2.5rem;
}

.h2,
h2
{
    font-size: 2rem;
}

.h3,
h3
{
    font-size: 1.75rem;
}

.h4,
h4
{
    font-size: 1.5rem;
}

.h5,
h5
{
    font-size: 1.25rem;
}

.h6,
h6
{
    font-size: 1rem;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.float_right
{
    float: right;
}

.float_left
{
    float: left;
}
