html
{
    font-family: sans-serif;
}

main
{
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.extra-margins
{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
}

.center
{
    text-align: center;
}

.fa
{
    display: inline-block;
    margin-right: 5px;
}

.show
{
    display: block !important;
}

.hide
{
    display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;
}

.h1,
h1
{
    font-size: 2.5rem;
}

.h2,
h2
{
    font-size: 2rem;
}

.h3,
h3
{
    font-size: 1.75rem;
}

.h4,
h4
{
    font-size: 1.5rem;
}

.h5,
h5
{
    font-size: 1.25rem;
}

.h6,
h6
{
    font-size: 1rem;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.float_right
{
    float: right;
}

.float_left
{
    float: left;
}

div#OR
{
    height: 30px;
    width: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #dfdfdf;
}

@media (max-width: 768px)
{
    div#OR
    {
        top: 96%;
        right: 50%;
    }
}

.col-4,
.col-8
{
    width: 100%;
}

@media (min-width: 992px)
{
    .col-4
    {
        width: 33%;
    }

    .col-8
    {
        width: 66%;
    }
}
