<form class="sing-up" method="POST" action="/signup">
    <input type="text" class="username__input" name="username" placeholder="username">
    <input type="password" class="password__input" name="password" placeholder="password">
    <button type="submit" name="login-btn">Sing Up</button>
</form>
