.container
{
    margin: 0 auto;
    position: relative;
}

@media (max-width: 686px)
{
    .quests:after
    {
        content: none;
    }
}

@media (min-width: 768px)
{
    .container
    {
        padding-right: 15px;
        padding-left: 15px;
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px)
{
    .container
    {
        padding-right: 15px;
        padding-left: 15px;
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px)
{
    .container
    {
        padding-right: 15px;
        padding-left: 15px;
        width: 1140px;
        max-width: 100%;
    }
}
