.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

.modal.show
{
    display: block;
    opacity: 1;
    transition: all 0.5s;
}

@keyframes fadeInDown
{
    from
    {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to
    {
        opacity: 1;
        transform: none;
    }
}
