.tabs
{
    border: 0;
    padding: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-around;
}
