language: node_js
node_js:
- '6'
services:
- mongodb
install:
- npm install
script:
- npm run test
env:
- NODE_ENV=development
deploy:
  provider: heroku
  api_key:
    secure: FK36tf9CrxhdMn7fHDElZq2JT2lWEsIH2hjhL6qlkm/otjS5gGrAw4REPux+c9zB+GNN4Pw6QXYu2SEbiuIl9vJyP7ZyJ74cOpbgStgjgSu1KR0A76exszps7zEnioLq1iSsIh2saFKLt6ddN+ZIr7j2B37ikm77IGP+5HXFv18tYFoNuptC1iHLxMbntD8BVfAF2TNViftzCzBhEKct+gjUEEHhAflmV648IuAIRchman2DVIUYYlkE+bo84sx2e1II67WAtFcUlur8dpAlIo3UDikyxxAb+0zLAAW+Ndr5xxHwJjAfgZqV0kafIoQHayGBVBw8isieU4nq2ZGuvf0NGEip7+C4WyGOljbh5NrsG2U1Q0pPAkynZFjEUYQUrXJmiilEuqd+08lZliJ2mKPjAvqAYNVsSs81z+KEZ7+Vz6qTfrJPWFkDDlrzsrtpf7fvFngt8TnZixhOdzxW+3SejaudE7ZomNGrY7eO6c1Zn5kdx3xuDuHPX3/SDv5Bg2nEDOkwnydrLGZqMEhcwL6YxgGbXx10bVfFL9/h4beCqST7Zej8zchd/EnAipgIeqyURq7VMUgVIjTgdjloAsw9yLdkbGhkeAJK2+iqxdP2BBTdSn0qvLZSmolF+x32Os1VDMgeMKqVK/3JxR7n3v+seUx0/wHaTBNyuve+VA0=
