language: node_js
node_js:
- '6'
services:
- mongodb
install:
- npm install
script:
- npm run lint
- npm run test
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
deploy:
  skip_cleanup: true
  provider: heroku
  api_key:
    secure: 'wYAU36W8VREn7r1YaSsLNmEXSTPlGwW9BEiwmm2D4W7WLlLn8ZhMb4Q/kuCGm/rioQzSPGM1E9SwZL5dcClH/5C/nWxZwd+MJ3zpRh5FqTC+2ttFYu0rkfn/3Z2VEQDnVQ7qP27Oi+rqj22biQZ4vhk1JdpaLBQW2qu1JGUgkrfWcFN3ahzmAQ+1okJpF05YwQU6CiWfVcicNU4xliC5IruF+bcIGSz6EC8MiKqHN7khrWNOlPUllYot5cdbAI+uyjz0WQ+lTByi36DzIXH470qPABvhX9MSjU7gwMe0E0hEHrNY0luREeusNRmxy3eHzH83pNIgakAZy7l+uTiOEnIn7ZwcPWEYo341zjlzZGs8sMskfBsrQe2MCI8PCOKDUjd+g78C+tNNezwQogwDEjiSKTC7cUBO9mpyyQA025i0PlrtS1SXZO3tCIjSw/ALe+5k8oiiRk+sJquYYv2TKQtvVpykNwN0qoH7ZSwt7JALl9NzpZNj6WsYSTFdwNm0PQeCZtsFaexcB3dQj6w7nNp3H3XcTE5iInKhr6DhRqobW5W0H8ixjEMJKFmspj0gco5yCendBZ47HtOY7iOmgpd31Az4ECpdd4dywADwfM4Aqt1GW7HsEeCux29Cu936iAdNfIwz8EhtFJUOTxw2WI8lmAFfMvzGI2GI6bURhQ8='
  on: master
  app: team5quests
after_success:
- '["${TRAVIS_PULL_REQUEST}" = "false"] && npm run deploy:surge'
