.item
{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.item__title
{
    margin-bottom: 6px;
}

@media (min-width: 425px)
{
    .item
    {
        flex: 0 0 calc(33.33% - 10px);
    }
}

@media (min-width: 425px) and (max-width: 652px)
{
    .item
    {
        flex: 0 0 calc(50% - 10px);
    }
}
