.searchbar__params-group
{
    background: #fff;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.conteiner
{
    height: 122px;
    transition: height 0.7s ease;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

@media (min-width: 425px) and (max-width: 652px)
{
    .conteiner
    {
        height: 188px;
    }
}

@media (max-width: 425px)
{
    .searchbar__params-group
      {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .conteiner
        {
        height: 310px;
    }
}

.conteiner_hidden
{
    height: 0;
    transition: height 0.7s ease 0.3s;
}

.params-group_hidden > .param-item
{
    opacity: 0;
}

.param-item_n1
{
    transition: opacity 0.1s ease 0.1s;
}

.param-item_n2
{
    transition: opacity 0.1s ease 0.2s;
}

.param-item_n3
{
    transition: opacity 0.1s ease 0.3s;
}

.param-item_n4
{
    transition: opacity 0.1s ease 0.4s;
}

.param-item_n5
{
    transition: opacity 0.1s ease 0.5s;
}

.params-group_hidden > .param-item_n1
{
    transition: opacity 0.1s ease 0.4s;
}

.params-group_hidden > .param-item_n2
{
    transition: opacity 0.1s ease 0.3s;
}

.params-group_hidden > .param-item_n3
{
    transition: opacity 0.1s ease 0.2s;
}

.params-group_hidden > .param-item_n4
{
    transition: opacity 0.1s ease 0.1s;
}

.params-group_hidden > .param-item_n5
{
    transition: opacity 0.1s ease;
}
