.searchbar__params-group
{
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    vertical-align: top;
}

.container
{
    height: 200px;
    transition: height 0.7s ease;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 652px)
{
    .container
    {
        height: 320px;
    }
}

@media (max-width: 425px)
{
    .searchbar__params-group
    {
        flex-wrap: nowrap;
    }
}

.container_hidden
{
    height: 0;
    transition: height 0.7s ease 0.3s;
}

.searchbar__input-group,
.searchbar__params-group
{
    width: calc(66% - 20px);
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.searchbar__params-group > .param-item
{
    margin: 10px;
    flex: 0 0 calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.searchbar__params-group_hidden > .param-item
{
    opacity: 0;
}

.param-item_n_1
{
    transition: opacity 0.1s ease 0.1s;
}

.param-item_n_2
{
    transition: opacity 0.1s ease 0.2s;
}

.param-item_n_3
{
    transition: opacity 0.1s ease 0.3s;
}

.param-item_n_4
{
    transition: opacity 0.1s ease 0.4s;
}

.param-item_n_5
{
    transition: opacity 0.1s ease 0.5s;
}

.searchbar__params-group_hidden > .param-item_n_1
{
    transition: opacity 0.1s ease 0.4s;
}

.searchbar__params-group_hidden > .param-item_n_2
{
    transition: opacity 0.1s ease 0.3s;
}

.searchbar__params-group_hidden > .param-item_n_3
{
    transition: opacity 0.1s ease 0.2s;
}

.searchbar__params-group_hidden > .param-item_n_4
{
    transition: opacity 0.1s ease 0.1s;
}

.searchbar__params-group_hidden > .param-item_n_5
{
    transition: opacity 0.1s ease;
}

@media (max-width: 1006px)
{
    .searchbar__input-group,
    .searchbar__params-group
    {
        width: calc(100% - 20px);
    }
}

.container-r
{
    margin: 0 auto;
    position: relative;
}

@media (min-width: 576px)
{
    .container-r
    {
        padding-right: 15px;
        padding-left: 15px;
        max-width: 100%;
    }
}

@media (min-width: 768px)
{
    .container-r
    {
        padding-right: 15px;
        padding-left: 15px;
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px)
{
    .container-r
    {
        padding-right: 15px;
        padding-left: 15px;
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px)
{
    .container-r
    {
        padding-right: 15px;
        padding-left: 15px;
        width: 1140px;
        max-width: 100%;
    }
}

