{{#extend "template"}}

{{#content "content"}}
    <div class="content">
        <div class="content__info block block_yellow">
            {{> card/card}}
        </div>
        {{#if isAuth}}
        <div class="content__action actions">
            {{#unless isCreator}}
            <button class="btn btn_yellow row__item">
                <span>&#128150;</span>
                <span>{{quest.likes.length}}</span>
            </button>
            {{/unless}}
            {{#if isCreator}}
            <button class="btn btn_yellow row__item">
                <span>Удалить квест</span>
            </button>
            <button class="btn btn_yellow row__item">
                <span>Изменить квест</span>
            </button>
            {{else}}
            <button class="btn btn_yellow row__item">
                <span>&#128278;</span>
            </button>
            <button class="btn btn_yellow row__item">
                <span>Пройти квест</span>
            </button>
            {{/if}}
        </div>
        {{else}}
            <div class="content__msg block block_light-yellow">
                 <span>Чтобы пройти квест или оставить комментрий, пожалуйста, войдите в аккаунт.</span>
            </div>
        {{/if}}
        
        <div class="content__comments block block_yellow">
            {{> comments/comments}}
        </div>
    </div>
{{/content}}

{{/extend}}
