{{#extend "template"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{CDN 'css/mainPage.css'}}">
        <script src="{{CDN 'js/mainPage.js'}}"></script>
    {{/content}}

    {{#content "body"}}

        <div class="container">
            <h2>Recent quests</h2>
            <hr class="extra-margins">
            <div class="row">
                {{#each quests}}
                <div class="col_4">
                    {{> mainCard/card}}
                </div>
                {{/each}}
            </div>
        </div>

    {{/content}}
{{/extend}}
