{{#extend "template"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{CDN 'css/mainPage.css'}}">
        <script src="{{CDN 'js/mainPage.js'}}"></script>
    {{/content}}

    {{#content "body"}}

        <div class="container">
            {{#if isAuth}}
                <h2 class="center">Созданные мной квесты</h2>
                <hr class="extra-margins">
                <div class="quests">
                    {{#if createdQuests.length}}
                        {{#each createdQuests}}
                            {{> mainCard/card}}
                        {{/each}}
                    {{else}}
                        <div class="row">
                            Вы еще не создали ни одного квеста
                        </div>
                    {{/if}}
                </div>
            {{/if}}
            <h2 class="center">Новые квесты</h2>
            <hr class="extra-margins">
            <div class="quests">
                {{#each quests}}
                    {{> mainCard/card}}
                {{/each}}
            </div>
            <h2 class="center">Популярные квесты</h2>
            <hr class="extra-margins">
            <div class="quests">
                {{#each popularQuests}}
                    {{> mainCard/card}}
                {{/each}}
            </div>
        </div>

    {{/content}}
{{/extend}}
