{{#extend "template"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="css/mainPage.css">
        <script src="js/mainPage.js"></script>
    {{/content}}

    {{#content "body"}}
        <div class="main">Hello user =)</div>
    {{/content}}
{{/extend}}
