{{#extend "template"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{CDN 'css/createQuest.css'}}">
    {{/content}}

    {{#content "body"}}
        <div class="container">
            <h2>Create quest</h2>
            <hr class="extra-margins">
            <div class="input-group">
                <label for="title">Title</label>
                <input name="title" type="text" id="title" class="input-group__input input_dark" required>
            </div>

            <div class="input-group">
                <label for="city">City</label>
                <input name="city" type="text" id="city" class="input-group__input input_dark input-autocomplete" required>
            </div>

            <div class="input-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="input-group__textarea" required></textarea>
            </div>

            <h5>Add stages</h5>
            <ul class="tabs image-preview" role="tablist">
                <li class="tabs__item image-preview___preview">
                    <input class="image-preview__input" id="img1" type="file" multiple accept="image/png,image/jpeg">
                    <label for="img1"><img class="image-preview__img" src="add_photo.png" alt="add photo"></label>
                </li>
            </ul>

            <div class="tab-content quests-content">

            </div>

            <button role="createquest" class="btn btn_primary float_right btn_disabled">Submit</button>
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
        <script src="{{CDN 'js/createQuest.js'}}"></script>
    {{/content}}
{{/extend}}
