<header>
    <nav class="navbar">
        <div class="navbar__container">
            <button class="navbar__toggler" type="button" data-toggle="collapse" data-target="#navigation-list" aria-controls="navigation-list" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar__toggler_icon"></span>
            </button>
            <a class="navbar__brand" href="#">
                PHOTOQUEST
            </a>
            <div class="navbar__navigation-list collapse" id="navigation-list" aria-expanded="false">
                <ul class="navbar__categories left">
                    <li class="navbar__item
                    {{#equal activePage '/'}}
                        active
                    {{/equal}}
                    ">
                        <a href="/" class="navbar__link">Home</a>
                    </li>
                    <li class="navbar__item
                    {{#equal activePage '/quests'}}
                        active
                    {{/equal}}
                    ">
                        <a href="/quests" class="navbar__link">All quests</a>
                    </li>
                </ul>
                <ul class="navbar__categories">
                    {{#if isAuth }}
                    <li class="navbar__item">
                        <a class="navbar__link" href="/quests/create">Create quest</a>
                    </li>
                    <li class="navbar__item">
                        <form action="/logout" method="post">
                            <button type="submit" class="navbar__button">Logout</button>
                        </form>
                    </li>
                    {{ else }}
                    <li class="navbar__item">
                        <a class="navbar__link" data-toggle="modal" data-target="#signForm">Sign in / Sign up</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    {{#unless user }}
    <!-- Autorize modal -->
    <div class="modal" id="signForm">
        <div class="modal__dialog">
            <div class="modal__header">
                <button type="button" class="modal__close">×</button>
            </div>
            <div class="modal__body">
                <div class="modal__data">
                    <!-- Nav tabs -->
                    <ul class="tabs" role="tablist">
                        <li class="tabs__item">
                            <a class="tabs__link" href="#panel11" role="tab">Sign in</a>
                        </li>
                        <li class="tabs__item">
                            <a class="tabs__link active" href="#panel12" role="tab">Sign up</a>
                        </li>
                        <li class="tabs__item">
                            <a class="tabs__link" href="#panel13" role="tab">Forgot password</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!--Panel 1-->
                        <div class="tab-content__panel" id="panel11" role="tabpanel">
                            <form role="form" class="form-horizontal" method="POST" action="/signin">

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input name="login" type="text" id="form1" class="input-group__input" placeholder="Your email">
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    <input name="password" type="password" id="form2" class="input-group__input" placeholder="Your password">
                                </div>

                                <div class="tab-content__footer">
                                    <button type="submit" class="btn btn_primary">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 1-->

                        <!--Panel 2-->
                        <div class="tab-content__panel active" id="panel12" role="tabpanel">
                            <form role="form" class="form-horizontal" method="POST" action="/signup">

                                <div class="input-group">
                                    <i class="fa fa-user"></i>
                                    <input name="username" type="text" id="form3" class="input-group__input" placeholder="Your name">
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input name="email" type="text" id="form4" class="input-group__input" placeholder="Your email">
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    <input name="password" type="password" id="form5" class="input-group__input" placeholder="Your password">
                                </div>

                                <div class="tab-content__footer">
                                    <button type="submit" class="btn btn_primary">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 2-->

                        <!--Panel 3-->
                        <div class="tab-content__panel" id="panel13" role="tabpanel">
                            <form role="form" class="form-horizontal" method="POST" action="/password-reset">

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input name="email" type="text" id="form1" class="input-group__input" placeholder="Your email">
                                </div>

                                <div class="tab-content__footer">
                                    <button type="submit" class="btn btn_primary">
                                        Send mail
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 3-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__backdrop"></div>
    </div>
    {{/unless}}
    {{#if isAuth }}
        <div class="modal" id="createQuest">
            <div class="modal__dialog">
                <form method="post" action="/quests">
                    <div class="modal__header">
                        <h4 class="modal__title">Create quest</h4>
                        <button type="button" class="modal__close">×</button>
                    </div>
                    <div class="modal__body">
                        <div class="input-group">
                            <label for="title">Title</label>
                            <input name="title" type="text" id="title" class="input-group__input input_dark">
                        </div>

                        <div class="input-group">
                            <label for="city">City</label>
                            <input name="city" type="text" id="city" class="input-group__input input_dark">
                        </div>

                        <div class="input-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" class="input-group__textarea"></textarea>
                        </div>

                        <div class="image-preview">
                            <div class="image-preview___preview">
                                <input id="img1" class="image-preview__input" type="file">
                                <label for="img1"><img class="image-preview__img" src="img/add_photo.png" alt="add photo"></label>
                            </div>
                            <div class="image-preview___preview">
                                <input id="img2" class="image-preview__input" type="file">
                                <label for="img2"><img class="image-preview__img" src="img/add_photo.png" alt="add photo"></label>
                            </div>
                            <div class="image-preview___preview">
                                <input id="img3" class="image-preview__input" type="file">
                                <label for="img3"><img class="image-preview__img" src="img/add_photo.png" alt="add photo"></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal__footer">
                        <button type="submit" class="btn btn_primary">Submit</button>
                        <a href="/createquest">Go to the full form</a>
                    </div>
                </form>
                <!--/.Content-->
            </div>
            <div class="modal__backdrop"></div>
        </div>
    {{/if}}
</header>
