.header
{
    padding: 10px;
    margin-bottom: 20px;
}

.header_yellow
{
    border-bottom: 1px solid #ffd700;
    box-shadow: 0 0 10px #ffd700;
}

.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
