<header>
    <nav class="navbar">
        <div class="container">
            <button class="navbar__toggler" type="button" data-toggle="collapse" data-target="#navigation-list" aria-controls="navigation-list" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar__toggler_icon"></span>
            </button>
            <a class="navbar__brand" href="#">
                Photoquest
            </a>
            <div class="navbar__navigation-list collapse" id="navigation-list" aria-expanded="false">
                <ul class="navbar__categories left">
                    <li class="navbar__item active">
                        <a class="navbar__link">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link">News</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link">All quests</a>
                    </li>
                </ul>
                <form class="">
                    <input class="navbar__input" type="text" placeholder="Search">
                </form>
                <ul class="navbar__categories">
                    {{#if isUserAutorized }}
                    <li class="navbar__item">
                        <a class="navbar__link">1 <span class="fa fa-envelope"></span></a>
                    </li>
                    <li class="navbar__item avatar">
                        <a class="navbar__link dropdown-toggle" href="#">
                            <img width="35px" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="avatar__image">
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-menu__item" href="#">My profile</a>
                            <a class="dropdown-menu__item" href="#">My quests</a>
                            <a class="dropdown-menu__item" href="#">Quit</a>
                        </div>
                    </li>
                    {{ else }}
                    <li class="navbar__item">
                        <a class="navbar__link" data-toggle="modal" data-target="#signForm">Sign in / Sign up</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    {{#unless isUserAutorized }}
    <!-- Autorize modal -->
    <div class="modal" id="signForm">
        <div class="modal__dialog">
            <div class="modal__header">
                <h4 class="modal__title">Login/Registration</h4>
                <button type="button" class="modal__close">×</button>
            </div>
            <div class="modal__body">
                <div class="modal__data">
                    <!-- Nav tabs -->
                    <ul class="tabs" role="tablist">
                        <li class="tabs__item">
                            <a class="tabs__link" href="#panel11" role="tab">Sign in</a>
                        </li>
                        <li class="tabs__item">
                            <a class="tabs__link active" href="#panel12" role="tab">Sign up</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!--Panel 1-->
                        <div class="tab-content__panel" id="panel11" role="tabpanel">
                            <form role="form" class="form-horizontal">

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" id="form1" class="input-group__input" placeholder="Your email">
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" id="form2" class="input-group__input" placeholder="Your password">
                                </div>

                                <div class="tab-content__footer">
                                    <button type="submit" class="btn btn_primary">Submit</button>
                                    <a href="javascript:;">Forgot your password?</a>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 1-->

                        <!--Panel 2-->
                        <div class="tab-content__panel active" id="panel12" role="tabpanel">
                            <form role="form" class="form-horizontal">

                                <div class="input-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" id="form3" class="input-group__input" placeholder="Your name">
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" id="form4" class="input-group__input" placeholder="Your email">
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" id="form5" class="input-group__input" placeholder="Your password">
                                </div>

                                <div class="tab-content__footer">
                                    <button type="button" class="btn btn_primary">
                                        Save & Continue</button>
                                    <button type="button" class="btn btn_default">
                                        Cancel</button>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 2-->

                    </div>
                    <div id="OR">OR</div>
                </div>
                <div class="modal__info">
                    <h3>Sign in with</h3>
                    <button type="button" class="btn btn_vk"><span class="fa fa-vk"></span> Vkontakte</button>
                    <button type="button" class="btn btn_gplus"><span class="fa fa-google-plus"></span> Google +</button>
                </div>
            </div>
        </div>
        <div class="modal__backdrop"></div>
    </div>
    {{/unless}}
</header>
