<header>
    <nav class="navbar">
        <div class="navbar__container">
            <button class="navbar__toggler" type="button" data-toggle="collapse" data-target="#navigation-list" aria-controls="navigation-list" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar__toggler_icon"></span>
            </button>
            <a class="navbar__brand" href="/">
                PHOTOQUEST
            </a>
            <div role="collapse" class="navbar__navigation-list collapse" id="navigation-list" aria-expanded="false">
                <ul class="navbar__categories left">
                    <li class="navbar__item
                     {{#equal activePage '/quests'}}
                         active
                     {{/equal}}
                     ">
                        <a href="/quests" class="navbar__link">Все квесты</a>
                    </li>
                </ul>
                <form id="search">
                    <input id="searchString" class="input-group__input input_light" type="text" placeholder="Поиск">
                </form>
                <ul class="navbar__categories">
                    {{#if isAuth }}
                    <li class="navbar__item avatar">
                        <a class="navbar__link dropdown-toggle" id="navbarDropdownMenuLink">
                            <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/720/ninja-background-512.png" class="avatar__image">
                            <img src="head_arrow.png" class="avatar__arrow">
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-menu__item" href="/quests/create">Создать квест</a>
                            <form action="/logout" method="post">
                                <button type="submit" class="dropdown-menu__item">Выйти</button>
                            </form>
                        </div>
                    </li>
                    {{ else }}
                    <li class="navbar__item">
                        <a class="navbar__link" data-toggle="modal" data-target="#signForm">Войти</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    {{#unless isAuth }}
    <!-- Autorize modal -->
    <div class="modal" id="signForm">
        <div class="modal__dialog">
            <div class="modal__header">
                <button type="button" class="modal__close">×</button>
            </div>
            <div class="modal__body">
                <div class="modal__data">
                    <!-- Nav tabs -->
                    <ul class="tabs" role="tablist">
                        <li class="tabs__item">
                            <a class="tabs__link" href="#panel11" role="tab">Войти</a>
                        </li>
                        <li class="tabs__item">
                            <a class="tabs__link active" href="#panel12" role="tab">Регистрация</a>
                        </li>
                        <li class="tabs__item">
                            <a class="tabs__link" href="#panel13" role="tab">Забыли пароль?</a>
                        </li>
                    </ul>

                    <div class="form-validation">
                        <p class="auth-form-message"></p>
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!--Panel 1-->
                        <div class="tab-content__panel" id="panel11" role="tabpanel">
                            <form role="form" class="form-horizontal auth-form" method="POST" action="/signin">

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input
                                            name="login" type="text" id="form1_l"
                                            class="input-group__input" placeholder="Имя пользователя или email" required
                                    >
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    <input
                                            name="password" type="password" id="form2"
                                            class="input-group__input" placeholder="Пароль"
                                            required
                                    >
                                </div>

                                <div class="tab-content__footer">
                                    <button type="submit" class="btn btn_primary">
                                        Войти
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 1-->

                        <!--Panel 2-->
                        <div class="tab-content__panel active" id="panel12" role="tabpanel">
                            <form role="form" class="form-horizontal auth-form" method="POST" action="/signup">

                                <div class="input-group">
                                    <i class="fa fa-user"></i>
                                    <input
                                            name="username" type="text" id="form3"
                                            class="input-group__input" placeholder="Имя пользователя" required
                                    >
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input
                                            name="email" type="email" id="form4"
                                            class="input-group__input" placeholder="Email"
                                            required
                                    >
                                </div>

                                <div class="input-group">
                                    <i class="fa fa-lock"></i>
                                    <input
                                            name="password" type="password" id="form5"
                                            class="input-group__input" placeholder="Пароль" required
                                    >
                                </div>

                                <div class="tab-content__footer">
                                    <button type="submit" class="btn btn_primary">
                                        Зарегистрироваться
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 2-->

                        <!--Panel 3-->
                        <div class="tab-content__panel" id="panel13" role="tabpanel">
                            <form role="form" class="form-horizontal auth-form" method="POST" action="/password-reset">

                                <div class="input-group">
                                    <i class="fa fa-envelope"></i>
                                    <input
                                            name="email" type="email" id="form1_e"
                                            class="input-group__input" placeholder="Email"
                                            required
                                    >
                                </div>

                                <div class="tab-content__footer">
                                    <button type="submit" class="btn btn_primary">
                                        Подтвердить
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--/.Panel 3-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__backdrop"></div>
    </div>

    {{/unless}}
</header>
