{{#extend "template"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{CDN '/css/infoPage.css'}}">
    {{/content}}

    {{#content "body"}}
        <p class="info-message">{{infoMessage}}</p>
    {{/content}}
{{/extend}}
