.modal__dialog
{
    position: relative;
    width: auto;
    display: flex;
    z-index: 1010;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
}

.modal .modal__dialog
{
    transition: transform 0.3s ease-out;
    transform: translate(0, -25%);
}

.modal.show .modal__dialog
{
    transform: translate(0, 0);
}
