.quests
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quests__item
{
    margin: 5px;
    flex: 0 0 calc(33.33% - 10px);
    display: flex;
    flex-direction: column;
    min-width: 0;
}

@media (max-width: 940px)
{
    .quests__item
        {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 630px)
{
    .quests__item
        {
        flex: 0 0 calc(100% - 10px);
    }
}

