{{#extend "layout"}}
{{#content "head" mode="append"}}
    <link href="stylesheets/questsAll.css" rel="stylesheet" type="text/css">
{{/content}}

{{#content "content"}}
    <h2 class="page__title">Все квесты</h2>
    {{> searchbar/searchbar }}
    <div class="quests">
        {{#each quests}}
            <div class="quests__item">
                {{> questCard/questCard }}
            </div>
        {{/each}}
    </div>
    {{#if isEmptyQuests}} Список квестов пуст {{/if}}
{{/content}}
{{/extend}}
