{{#extend "layout"}}
{{#content "head" mode="append"}}
    <link href="stylesheets/questsAll.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
{{/content}}

{{#content "content"}}
    <div id="root"></div>
    <script src="questsAll.js"></script>
{{/content}}
{{/extend}}
