<form class="change-password" method="POST" action="/changepassword">
    <input type="text" class="username__input" name="username" placeholder="username">
    <input type="password" class="password__input" name="password" placeholder="password">
    <input type="password" class="newpassword__input" name="newpassword" placeholder="newpassword">
    <button type="submit" name="change-password-btn">Change password</button>
</form>
