.quest-card__group
{
    display: flex;
}

.quest-card__change-quest
{
    font-size: 1.2rem;
}

.quest-card__info
{
    font-size: 0.8rem;
}

.quest-card__author
{
    white-space: nowrap;
}

.quest-card__date
{
    white-space: nowrap;
}

.quest-card__title
{
    margin: 5px 10px 5px 0;
    display: inline-block;
}

.quest-card__description
{
    font-size: 1rem;
}

.quest-card__titleImage
{
    max-width: 40%;
    margin-right: 20px;
}

.quest-card__titleImage img
{
    max-width: 100%;
}

@media (max-width: 425px)
{
    .quest-card__group
    {
        flex-direction: column;
    }

    .quest-card__titleImage
    {
        margin: 0;
        max-width: 100%;
    }
}
