<article class="quest-card">
    <h3 class="quest-card__title">{{quest.title}}</h3>
    <p class="quest-card__city">
        Город: {{quest.city}}
    </p>
    <p class="quest-card__author">
        Автор: {{quest.author}}
    </p>
    <p class="quest-card__description">
        {{quest.description}}
    </p>
</article>
