<article class="quest-card">
    <h3 class="quest-card__title">{{card.title}}</h3>
    <p class="quest-card__city">
        Город: {{card.city}}
    </p>
    <p class="quest-card__author">
        Автор: {{card.author}}
    </p >
    <p class="quest-card__description">
        {{card.description}}
    </p>
</article>
