.quest-card__creating
{
    font-size: 0.8rem;
}

.quest-card__link
{
    font-size: 1.2rem;
    color: #ddd;
    text-decoration: none;
}

.quest-card__author,
.quest-card__date
{
    white-space: nowrap;
}

.quest-card__title
{
    margin: 1.5% 10px 5px 0;
    display: inline-block;
}

.quest-card__data
{
    display: flex;
    flex-wrap: wrap;
}

.quest-card__tags
{
    padding: 0 3%;
    font-size: 1rem;
    flex: 450px 3 1;
    flex-wrap: wrap;
    margin: 0;
}

.quest-card__additional-info
{
    font-size: 1rem;
    flex: 200px 1 1;
    padding: 0 3%;
}

.quest-card__description
{
    flex: 450px 3 1;
    padding: 0 3%;
    font-size: 1rem;
}

.quest-card__controls
{
    display: flex;
    padding: 10px 0;
}

.quest-card__button_like
{
    flex: 200px 1 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
