.modal__body
{
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
}

@media (max-width: 768px)
{
    .modal__body
    {
        flex-direction: column;
    }
}
