.photo
{
    position: relative;
    max-width: 50%;
    margin: 2%;
    perspective: 1500px;
}

.photo img
{
    width: 100%;
    vertical-align: middle;
}

.control
{
    position: absolute;
    font-size: 3rem;
    padding: 0;
    border-radius: 30px;
}

.photo__img > .control
{
    background: rgba(0, 0, 0, 0.72);
}

.control > i
{
    margin: 0;
}

.photo__button
{
    bottom: 2%;
    right: 2%;
    border: none;
    outline: none;
    color: #ff9800;
    cursor: pointer;
    width: 3.5rem;
}

.photo__button_back
{
    color: #fff;
    background: #ff6a00;
}

.photo__checker
{
    top: 2%;
    left: 2%;
    padding: 0 10px;
    border-radius: 5px;
}

.photo__checker:disabled
{
    cursor: default;
}

.photo__checker > .fa-times
{
    color: #f00;
}

.photo__checker > .fa-check
{
    color: #09c900;
}

.photo__title
{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 2% 3%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.49);
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin: 2%;
}

.photo__description,
.photo__img
{
    transition: 0.6s linear;
    transform-style: preserve-3d;
}

.photo__description
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
    background: rgb(244, 244, 244);
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
    border: 1px solid #7e7e7e;
}

.photo__description p
{
    text-overflow: ellipsis;
    overflow-x: auto;
    height: 100%;
    margin: 0;
}

.photo__img
{
    box-shadow: -14px 0 12px -10px #2d2d2d, 14px 0 12px -10px #2d2d2d;
}

.photo__description_show
{
    transform: rotateY(360deg);
}

.photo__img_hidden
{
    transform: rotateY(180deg);
}

@media (max-width: 940px)
{
    .photo
    {
        max-width: 100%;
    }
}

@media (max-width: 425px)
{
    .control
    {
        font-size: 2rem;
    }

    .photo__button
    {
        width: 2.5rem;
    }
}
