<div class="col_4">
    <!--Card-->
    <div class="card">

        <!--Card image-->
        <div class="card__image">
            <img src="https://mdbootstrap.com/images/regular/city/img%20(2).jpg" class="img-fluid" alt="">
            <a href="#">
                <div class="mask"></div>
            </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card__content">
            <!--Title-->
            <h4 class="card__title">Graffity</h4>
            <!--Text-->
            <p class="card__text">You must be great.</p>
        </div>
        <!--/.Card content-->

        <div class="card__data">
            <ul>
                <li class="float_left"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                <li class="float_right"><a href="#"><i class="fa fa-comments-o"></i>12</a></li>
                <li class="float_right"><a href="#"><i class="fa fa-heart like"> </i>21</a></li>
            </ul>
        </div>

    </div>
    <!--/.Card-->
</div>
