.quests-r
{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.quests-r:after
{
    content: "";
    flex: auto;
}

@media (max-width: 686px)
{
    .quests-r:after
    {
        content: none;
    }
}
