<form class="searchbar" method="GET" action="/search">
    <input type="search" class="searchbar__input" name="searchString"
        placeholder="Введите данные">
    <button type="submit" name="search-btn">Найти</button>
    <span class="searchbar__radio-group__label">Искать по:</span>
    <div class="searchbar__input-group">
        <label for="search-checkbox-title">Названию</label>
        <input id="search-checkbox-title" type="checkbox" class="searchbar__checkbox"
            name="searchByTitle" value="true" checked>
        <br>
        <label for="search-checkbox-author">Автору</label>
        <input id="search-checkbox-author" type="checkbox" class="searchbar__checkbox"
            name="searchByAuthor" value="true">
        <br>
        <label for="search-checkbox-tag">Тэгу</label>
        <input id="search-checkbox-tag" type="checkbox" class="searchbar__checkbox"
            name="searchByTags" value="true">
    </div>
</form>
