.searchbar
{
    display: inline-block;
    border: 1px solid #111;
}

.searchbar__radio-group__label
{
    display: block;
    font-size: 15px;
}

.searchbar__input-group
{
    margin-left: 15px;
}
