.show-dropdown-menu > .dropdown-menu
{
    display: block;
}

.dropdown-menu
{
    transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
    padding: 0.5rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .dropdown-menu
{
    position: absolute !important;
}

.dropdown-menu form button
{
    width: 100%;
}

.navbar .dropdown-menu a,
.navbar .dropdown-menu button
{
    font-size: 0.9375rem;
    font-weight: 300;
    color: #212121;
}

.dropdown-menu.dropdown a:active,
.dropdown-menu.dropdown a:focus,
.dropdown-menu.dropdown a:hover,
.dropdown-menu.dropdown button:active,
.dropdown-menu.dropdown button:focus,
.dropdown-menu.dropdown button:hover
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

@media (max-width: 991px)
{
    .navbar__categories .dropdown-menu
    {
        position: static;
        float: none;
    }
}

@media (max-width: 1199px)
{
    .navbar__categories .dropdown-menu
    {
        position: static;
        float: none;
    }
}
