.input-group__textarea
{
    padding-top: 0.8rem;
    overflow-y: hidden;
    resize: vertical;
    background-color: transparent;
    border: none;
    color: #666;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    outline: 0;
    min-height: 10rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: sans-serif;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    width: 85%;
}

.input-group__textarea:focus
{
    border-bottom: 2px solid #5189c8;
}

.input-group__textarea::-webkit-input-placeholder
{
    color: #666;
    opacity: 0.6;
}
