.input-group
{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.input-group > :nth-child(2)
{
    width: 90% !important;
}

.input-group .fa
{
    display: block;
    font-size: 1.5rem;
}

.input-group label
{
    display: block;
    font-size: 1rem;
    padding-top: 0.5rem;
}
