.navbar__navigation-list {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 991px)
{
    .collapse
    {
        display: none;
    }

     .collapse.show
     {
         display: block;
     }
}
