<form class="sing-in" method="POST" action="/signin">
    <input type="text" class="username__input" name="username" placeholder="username">
    <input type="password" class="password__input" name="password" placeholder="password">
    <button type="submit" name="login-btn">Sing In</button>
</form>
