.like-counter
{
    display: inline-block;
}

.button_icon
{
    background: #fff;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0;
    user-select: none;
}

.like-counter__button
{
    color: #aaa;
    font-size: 1em;
    width: 3em;
    text-align: start;
}

.like-counter__button:disabled
{
    cursor: default;
}

.like-counter__button_liked
{
    color: #f00;
}

.like-counter__value
{
    color: #000;
}
