.modal__close
{
    position: absolute;
    right: 15px;
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    background: none;
    border: none;
    outline: none;
}

.modal__close:focus,
.modal__close:hover
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
}
