{{#extend "template"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{CDN '/css/resetPass.css'}}">
    {{/content}}

    {{#content "body"}}

        <div class="reset-pass">
            <div class="form-validation">
                <p class="form-message"></p>
            </div>
            <form class="form-horizontal reset-pass-form" method="POST" action="/password-reset/{{email}}/{{queryHash}}">
                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input
                            name="newPassword"
                            type="password"
                            id="form2"
                            class="input-group__input"
                            placeholder="Новый пароль"
                    >
                </div>

                <div class="tab-content__footer">
                    <button type="submit" class="btn btn_primary">Изменить пароль</button>
                </div>
            </form>
        </div>
    {{/content}}

    {{#content "scripts"}}
        <script src="{{CDN '/js/resetPass.js'}}"></script>
    {{/content}}
{{/extend}}
