.modal__info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal__info h3
{
    white-space: nowrap;
}

@media (min-width: 768px)
{
    .modal__info
    {
        flex: 0 0 27%;
        max-width: 27%;
    }
}
