.modal__data
{
    position: relative;
    width: 100%;
}

.modal__data .form-message
{
    text-align: center;
}

.modal__data .form-message .success
{
    color: #0f3;
}

.modal__data .form-message .error
{
    color: #f33;
}

