.modal__data
{
    position: relative;
    width: 100%;
}

.modal__data .form-message
{
    color: #0f3;
    text-align: center;
}


@media (max-width: 768px)
{
    .modal__data
    {
        flex: 0 0 66.666667%;
    }
}
