.message
{
    position: fixed;
    background: #fff;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 11px #aaa;
    border-radius: 3px;
    color: #ff7a00;
    text-align: center;
    width: 85%;
    font-size: 1.5rem;
}

.message_error
{
    padding: 15px;
    top: 58px;
    max-width: 1200px;
}

.message_finished
{
    max-width: 800px;
    top: 20%;
    padding: 30px 15px;
}

.message_finished span
{
    font-size: 1.3em;
}

@media (max-width: 380px)
{
    .message
    {
        font-size: 1.2rem;
    }
}

.message__button
{
    position: absolute;
    font-size: 1.4rem;
    padding: 0;
    border-radius: 30px;
    color: #fff;
    background: #ff6a00;
    top: 4px;
    right: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 1.6rem;
}

.message__button i
{
    margin: 0;
}

.quest__message
{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    width: 100%;
    right: 0;
    height: 100%;
    z-index: 1;
}

.quest__quest-info
{
    max-width: 1000px;
    margin: 0 auto;
}

.quest__quest-photos
{
    max-width: 1200px;
    margin: 0 auto;
}
