.quest-photos__button
{
    padding: 0 5%;
}

.quest-photos__photos
{
    display: flex;
    flex-direction: row;
    padding: 0 3%;
}

@media (max-width: 940px)
{
    .quest-photos__photos
    {
        flex-direction: column;
    }
}
