<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Письмо</title>
    </head>
    <body>
        <p>
            {{text}} <a href="{{link}}">нажмите сюда</a>
        </p>
    </body>
</html>
